@import url(https://fonts.googleapis.com/css?family=Lato);
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
header {
    width: 100vw;
    height: 10%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;

}


#logo {
    width: 10rem;
    float: left;
    display: block;
}

section {
  width: 100vw;
  background: purple;
  height: 100vh;

}

.column-left {
  width: 100vw;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

nav ul {
  display: none;
}



.burger {
  float: right;
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: black;;
  background-color: white;
  border: none;
}

.burger:hover {
  color: purple;
}

@media screen and (min-width: 768px) {

  nav ul {
    display: inline-block;
    float: right;
  }
  
  nav li {
    list-style: none;
    display: inline-block;
    padding: 1.4rem .6rem;
    margin-right: 1.5rem;
    border-left: 1px solid rgb(220, 224, 224);
    font-weight: bold;
  }
  
  nav li a {
    color: inherit;
    display: block;
  }

  li:hover {
    color: blueviolet;
  }

  li:visited {
    color: grey;
  }


  
  .burger {
    display: none;  
  }
  
  

.column-left {
    height: 100%;
    width: 25%;
    float: left;
    background-color: red
}

.column-right {
    float: left;
    width: 75%;
    height: 100%;
    background-color: blue;

}}

@media screen and (min-width: 1024px) {
  section  {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
  } 



}  




